
    <div class="flex" style="font-family: monospace; font-size: large; font-weight: bolder; background-color: black;">
        <span style="color: gold;">drumAgio8266( </span>
        <span style="color: rgb(233, 119, 43);"> 'Batterie éléctronique' </span>
        <span style="color: rgb(0, 202, 202);"> , </span>
        <span style="color: rgb(233, 119, 43);"> 'Open Source' </span>
        <span style="color: rgb(0, 202, 202);"> , </span>
        <span style="color: rgb(233, 119, 43);"> 'ESP32 (C++/Arduino Framework)' </span>
        <span style="color: rgb(0, 202, 202);"> , </span>
        <span style="color: rgb(233, 119, 43);"> 'Angular' </span>
        <span style="color: gold;"> ) </span>
        <span style="color: rgb(0, 202, 202);"> => </span>
        <span style="color: rgb(0, 202, 202)"> {{'{'}} </span>
    </div>
<div class="flex justify-content-start"
    style="font-family: monospace; font-size: large; font-weight: bolder; background-color: black;">
    <div class="flex-column justify-content-end">
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> {{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'version' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> {{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'Développé par' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> {{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'Développé avec' </span>
        </div>
        <div class="flex">&nbsp;</div>
        <div class="flex">&nbsp;</div>
        <div class="flex">&nbsp;</div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> {{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'Inspirations' </span>
        </div>
        <div class="flex">&nbsp;</div>
        <div class="flex">&nbsp;</div>
    </div>
    <div class="flex-column justify-content-center">
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">&nbsp;</div>
        <div class="flex">&nbsp;</div>
        <div class="flex">&nbsp;</div>
        <span style="color: rgb(0, 202, 202);"> : </span>
        <div class="flex">&nbsp;</div>
        <div class="flex">&nbsp;</div>
    </div>
    <div class="flex-column justify-content-start">
        <div class="flex">
            <span style="color:rgb(24, 202, 0)"> 2.0 </span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}}</span>
            <span style="color: rgb(255, 255, 255);"> , </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> {{'[{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'Marc-André Gionet' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> {{'['}} </span>
            <span style="color: rgb(0, 202, 202);"> {{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'Visual Studio Code' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> &nbsp;{{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'PlatformIO' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> &nbsp;{{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'espressif / arduino-esp32' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> &nbsp;{{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'Arduino' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> {{'['}} </span>
            <span style="color: rgb(0, 202, 202);"> {{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'evankale / ArduinoMidiDrums' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> &nbsp;{{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'corrados / edrumulus' </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> &nbsp;{{'{'}} </span>
            <span style="color: rgb(233, 119, 43);"> 'open e-drums' </span>
        </div>
    </div>
    <div class="flex-column justify-content-center">
        <div class="flex">
            &nbsp;
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
        <div class="flex">
            <span style="color: rgb(0, 202, 202);"> : </span>
        </div>
    </div>
    <div class="flex-column justify-content-start">
        <div class="flex">&nbsp;</div>
        <div class="flex">
            <span><a style="color:rgb(24, 202, 0)" href="https://marcandregionet.com"> 'https://marcandregionet.com'
                </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'},{?}]'}}</span>
            <span style="color: rgb(255, 255, 255);"> , </span>
        </div>
        <div class="flex">
            <span><a style="color:rgb(24, 202, 0)" href="https://code.visualstudio.com/">
                    'https://code.visualstudio.com/' </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}}</span>
            <span style="color: rgb(255, 255, 255);"> , </span>
        </div>
        <div class="flex"><span><a style="color:rgb(24, 202, 0)" href="https://platformio.org/">
                    'https://platformio.org/' </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}}</span>
            <span style="color: rgb(255, 255, 255);"> , </span>
        </div>
        <div class="flex">
            <span><a style="color:rgb(24, 202, 0)" href="https://github.com/espressif/arduino-esp32/">
                    'https://github.com/espressif/arduino-esp32/' </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}} </span>
            <span style="color: rgb(255, 255, 255);"> , </span>
        </div>
        <div class="flex">
            <span><a style="color:rgb(24, 202, 0)" href="https://www.arduino.cc/"> 'https://www.arduino.cc/' </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}} </span>
            <span style="color: rgb(0, 202, 202)"> {{']'}} </span>
            <span style="color: rgb(255, 255, 255);"> , </span>
        </div>
        <div class="flex">
            <span><a style="color:rgb(24, 202, 0)" href="https://github.com/evankale/ArduinoMidiDrums">
                    'https://github.com/evankale/ArduinoMidiDrums' </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}} </span>
            <span style="color: rgb(255, 255, 255);"> , </span>
        </div>
        <div class="flex">
            <span><a style="color:rgb(24, 202, 0)" href="https://github.com/corrados/edrumulus">
                    'https://github.com/corrados/edrumulus' </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}}</span>
            <span style="color: rgb(255, 255, 255);">,</span>
        </div>
        <div class="flex">
            <span><a style="color:rgb(24, 202, 0)" href="https://angular.io">
                    'https://angular.io' </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}}</span>
            <span style="color: rgb(255, 255, 255);">,</span>
        </div>
        <div class="flex">
            <span><a style="color:rgb(24, 202, 0)" href="https://open-e-drums.com/"> 'https://open-e-drums.com/'
                </a></span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}} </span>
            <span style="color: rgb(0, 202, 202)"> {{']'}} </span>
            <span style="color: rgb(0, 202, 202)"> {{'}'}} </span>
            <span style="color: rgb(255, 255, 255);"> ; </span>
        </div>
    </div>
</div>